* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f9f9f9;
}

.wrapper {
	width: 1060px;
	height: 950px;
	background-color: #ffffff;
	/* border: 1px solid black; */
	margin: 0 auto;
}	

header {
	height: 170px;
	width: 966px;
	margin-left: 48px;
}

.container {
	height: 600px;
	width: 966px;
	margin-left: 48px;
	margin-top: 40px;
	margin-bottom: 40px;
	/* border: 1px solid black; */
	
}

footer {
	height: 40px;
	width: 966px;
	margin-left: 48px;
	background-color: yellow;
	/* border: 1px solid black; */
}

aside {
	width: 240px;
	height: inherit;
	margin: 0 48px 0 0;
	float: left;
}

main {
	width: 678px;
	height: inherit;
	background-color: gray;
	display: inline-block;
}

.logo {
	margin-top: 50px;
	margin-bottom: 40px;
}

.navbar-top li {
	display: inline-block;
}

.navbar-top, .navbar-bottom {
	width: inherit;
	height: 40px;
}

.navbar-top {
	background-color: #535353;
}

.navbar-top, .navbar-bottom ul {
	list-style: none;
}

.navbar-top a {
	text-decoration: none;
	font-family: Open Sans;
	width: 125px;
	display: inline-block;
	margin-top: auto;
	text-align: center;
	padding: 10px 0;
	font-size: 15px;
	color: #ffffff;
}


.navbar-top a:hover {
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	background-color: #3b3b3b;
	box-sizing: border-box;
	width: 125px;
}	

.navbar-bottom li {
	display: inline-block;
}

.navbar-bottom {
	background-color: #e1e1e1;
}


.navbar-bottom a {
	text-decoration: none;
	font-family: Open Sans;
	font-size: 13px;
	color: #2c2c2c;
	width: 125px;
	display: inline-block;
	margin-top: auto;
	text-align: center;
	padding: 10px 0;
	
}

.navbar-bottom a:hover {
	text-decoration: underline;
	width: 125px;
}	

.rights {
	display: inline-block;
	float: right;
	font-family: Open Sans;
	font-size: 13px;
	color: #2c2c2c;
	padding: 10px 25px;
}

.sidebar {
	border: 1px solid #c8c8c8;
}

.sidebar li {
	list-style: none;
	height: 40px;
	border-bottom: 1px solid #c8c8c8;
	box-sizing: border-box;
	padding: 10px 20px;
}

.sidebar li:last-child {
	border-bottom: none;
}

.sidebar a {
	text-decoration: none;
	font-family: Open Sans;
	font-size: 13px;
	color: #656363;
	
}

.sidebar a:hover {
	color: #2c2c2c;
}

.sidebar li:hover {
	background-color: #f9f9f9;
	padding: 10px 30px;
}